*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 300px 300px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

h2{
    text-align: center;
    margin-top: 130px;
}

h1{
    text-align: center;
    margin-top: 30px;
}



.header{
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 100px;
    width: 100%;

}
.section1{
    background-color: aqua;
    height: 300px;

}
.section2{
    background-color: beige;
    height: 300px;
    
}
.section3{
    background-color: blueviolet;
    height: 600px;
}

.section3 h2{
    margin-top: 300px;
}

.section4{
    background-color: brown;
    height: 300px;
}

.section5{
    background-color: blanchedalmond;
    height: 300px;
}




.footer{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 300px;
    width: 100%;
}