body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.container{
    width: 900px;
    height: auto;
    background-color: white;
    margin: 100px auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 200px 200px 200px;


}

