x.maindiv{
width: 70%;
height: auto;
margin: 0 auto;
background-color: lightgray;
border: 4px solid black;
}

.image{
    padding-left: 10%;
    padding-top: 10%;
}
.image img{
    width: 250px;
    border-radius: 120px;
    border: 2px solid black;
}

.title{
    text-align: center;
    padding-right: 10%;
    padding-top: 20%;
    float: right;
}

.section2{
    margin: 50px;
    font-family: cursive;
}

#apjreadmore{
    margin-left: 413px;
}
#apjreadmore a:hover{
    color: aqua;
}
